{{view D.ActorView actorBinding="event.actor"}} commented on
issue <a href="{{unbound event.payload.issue.html_url}}#issuecomment-{{unbound event.payload.comment.id}}">#{{event.payload.issue.number}}</a>: {{event.payload.issue.title}}