<ul class="unstyled timeline">
  {{#each entries}}
    {{ago "created_utc" isSeconds=true}}:
    <li>
      <a href="http://www.reddit.com{{unbound permalink}}"><i class="icon-chevron-up" title="upvotes" ></i>{{ups}}</a> -
      <strong>{{author}}</strong>
      <a {{bindAttr href="url"}} >{{title}}</a>
    </li>
  {{else}}
    loading latest reddit entries ...
  {{/each}}
</ul>