<ul class="unstyled timeline">
	{{#each tweets}}
		{{ago "created_at"}}:
		<li><strong><a href="http://twitter.com/#!/{{unbound from_user}}/status/{{unbound id_str}}">@{{from_user}}</a></strong> {{parseTweet}}</li>
	{{else}}
		loading latest Tweets ...
	{{/each}}
</ul>