{{view D.ActorView actorBinding="event.actor"}} created {{event.payload.ref_type}}
{{#if event.payload.ref}}
  <a href="https://github.com/{{unbound event.repo.name}}/tree/{{unbound event.payload.ref}}">{{event.payload.ref}}</a>
{{/if}}